<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Authentification</servlet-name>
        <servlet-class>servlets.Authentification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Jouer</servlet-name>
        <servlet-class>servlets.Jouer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>servlets.Deconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resultat</servlet-name>
        <servlet-class>servlets.Resultat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentification</servlet-name>
        <url-pattern>/Authentification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jouer</servlet-name>
        <url-pattern>/Jouer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/Deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resultat</servlet-name>
        <url-pattern>/Resultat</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>authentification.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>
            404
        </error-code>
        <location>
            /404.html
        </location>
    </error-page>
</web-app>
